<div class="bus_cn_menu">
    <ul>
      <li class="about_a">        
        <a href="<%= front_about_path %>">
          关于我们
        </a>
      </li>
      <li class="news_a">
        <a href="<%= front_news_path %>">
          新闻中心

        </a>
      </li>
      <li class="operation_a">
        <a href="<%= front_trans_path %>">
          业务发展

        </a>
      </li>
      <li class="investor_a">
        <a href="<%= front_inve_path %>">
          投资者关系

        </a>
      </li>
      <li class="product_a">
        <a href="<%= front_prod_path %>">
          产品与服务

        </a>
      </li>
      <li class="society_a">
        <a href="<%= front_soci_path %>">
          社会责任

        </a>
      </li>
      <li class="kj_a">
        <a href="<%= front_tech_path %>">
          科技创新

        </a>
      </li>
      <li class="hr_a">
        <a href="<%= front_hum_path %>">
          人力资源

        </a>
      </li>
      <li class="school_a">
        <a href="<%= front_know_path %>">
          知识中心

        </a>
      </li>
    </ul>
  </div>